<div class="row" style="text-align: right; padding-top: 10px;">

  <div class="col-xl-11 text-xl-right" style="font-weight: 500; padding-top: 5px;" >
    {{ email }}
  </div>

  <div class="col-xl-1">
    <button mat-flat-button
            (click)="signOut()"
            color="primary"
            style="background-color: #2ddbac; color: whitesmoke; outline: 0;">
      Sign Out
    </button>
  </div>
</div>



<div class="row home">
  <div class="col-xl-12">
    Welcome to home!
  </div>
</div>

