@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-default.css";


.notifier__notification--default {
  background-color: black;
  display: inline-flex;
}

.notifier__notification--material .notifier__notification-button{
  padding: 0 0 0 0!important;
}
